  * {
	box-sizing: border-box;
}

body { 
	font-family: sans-serif;
	background-color: #f6f4f9;
}

p, li {
	font-family: 'Archivo Narrow', sans-serif;
}

.font-L {
	font-family: 'Julius Sans One', sans-serif;
}

.font-B {
	font-family: 'Archivo Narrow', sans-serif;
}

/*
light red - #ff4949
dark red  - #c10000
*/

nav {
	position: fixed;
	top: 40%;
	left: 0px;
	transition: left 0.3s;
	background-color: rgba(0, 0, 0, .5);
	border: solid 1px #c10000;
}

nav ul { 
	display: flex;
	flex-direction: column;
	border-left: none;
	padding: 10px;
}

nav li {
	list-style-type: none;
	margin-bottom: 30px;
}

nav a {
	color: white;
	font-size: 40px;
}

#hero {
	border-radius: 15px;
	width: 90%;
	height: 400px;
	background-color: #eee;
}

header h1 {
	margin: 10% 20%;
}

.hilite {
	font-size: 1.5em;
	color: #ff4949;
}

section#bio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding-top: 8%;
	background-color: #ff4949;
}

.selfie {
	width: 200px;
	height: 200px;
	border-radius: 1%;
	border: none;
	box-shadow: 15px 15px #c10000;
}

#bio h2 {
	font-family: 'Julius Sans One', sans-serif;
	margin: 5% auto;
	font-size: 1.5em;
	color: white;
	text-align: center;
}

#bio div {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

#bio p {
	color: black;
	width: 30%;
	letter-spacing: 120%;
	line-height: 135%;
	padding-left: 20px;
	font-size: 1em;
	background-color: #dedede;
	margin: 0 3% 4% 3%;
	padding: 6px;
	box-shadow: 10px 10px #c10000;
}

section#work {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-top: 10px;
	padding-top: 20px;
	background-color: #eee;
	border: solid 1px #dedede;
	border-radius: 5px;
}

.screen-shot{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image {
	height: 180px;
	border: solid 1px #c10000;
	border-bottom-width: 3px;
	border-radius: 5px;
}

ul.tech-used {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-inline-start: 0px;
}

.tech-used li {
	list-style-type: none;
	padding: 5px;
	margin: 2px;
	color: black;
	font-weight: 700;
	background-color: #dedede;
	border: solid 1px #ff4949;
	border-bottom: solid 3px #c10000;
	border-radius: 5px;
	padding: 5px 20px;
}

ul.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0;
	padding-inline-start: 0px;
}

.description li {
	list-style-type: none;
	width: 90%;
	margin: 2px;
	color: white;
	background-color: #ff4949;
	border-bottom: solid 2px #c10000;
	border-radius: 5px;
	padding: 5px 20px;
}

.links {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 700;
}

.links ul {
	display: flex;
	justify-content: center;
	margin-top: 0;
}

.links li {
	list-style-type: none;
	/*padding: 10px;*/
}

:root {
  --mainColor: #ff4949;
}

a:hover {
	color: purple;
	padding: 0 5px;
}

a {
  	background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  	color: #000;
  	text-decoration: none;
  	transition: background-size .2s;
}

a:hover {
  background-size: 4px 50px;
}

footer {
	text-align: center;
	border: solid 1px #ff4949;
	border-radius: 5px;
	margin: 15px 0;
	padding-bottom: 30px;
	background-color: #eee;
}

footer > p {
	display: block;
	font-family: 'Julius Sans One', sans-serif;
	padding:10px 30px;
}

footer a {
	font-size: 50px;
}

footer a:hover{
	color: #;
}

.extra-space {
	height: 40px;
}

@media(min-width: 750px){ /*-------Media Query width 750px + -------*/

	body {
		font-size: 1.15em;
	}

	section#bio {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
	}

	.selfie {
		width: 260px;
		height: 260px;
		margin: 0 2% 0 10%;
	}

	#bio h2 {
		font-size: 1.5em;
		padding: 20px;
		padding-left: 10px;
	}

	#bio p {
		letter-spacing: 120%;
		line-height: 135%;
		font-size: 1.25em;
	}

	section#work {
		margin-top: 20px;
	}

	.image {
		height: 280px;
	}

	.description li {
		font-size: 1em;
	}

}

@media(min-width: 1000px){ /*-------Media Query width 1000px + -------*/

	.image {
		height: 380px;
	}

	.description li {
		font-size: 1.25em;
	}

	.tech-used li {
		font-size: 1em;
	}


}	

@media(min-width: 1200px){  /*-------Media Query width 1200px + -------*/
	body {
		font-size: 1.25em;
	}

	.selfie {
		width: 360px;
		height: 360px;
		border: solid 1px #7730dd;
	}

	.about {
		margin-right: 200px;
	}

	.info ul {
	margin: 0 5%;
	}

	.info li {
		list-style-type: none;
		padding: 5px;
		margin: 5px;
		color: white;
		background-color: #9951ff;
	}

	.image {
	height: 360px;
	}
}