* {
	box-sizing: border-box;
}

body { 
	font-family: 'Hammersmith One', sans-serif;
	background-color: #f6f4f9;
}

/*fonts {

	font-family: 'Archivo Black', sans-serif;
	font-family: 'VT323', monospace;
	font-family: 'Jua', sans-serif;
	font-family: 'Hammersmith One', sans-serif;
	font-family: 'Yantramanav', sans-serif;
	
}*/

nav {
	/*float: left;*/
	position: fixed;
	top: 60px;
	left: 0px;
	transition: left 0.3s;
}

nav ul { 
	display: flex;
	flex-direction: column;
	background-color: white;
	border: solid 3px #ccf900;
	border-left: none;
	padding: 10px;
}

nav li {
	list-style-type: none;
	margin-bottom: 10px;
}

nav a {
	color: black;
	font-size: 1.5em;
}

/*nav a:hover {
	color: #ccf900;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
   	font-size: 1.75em;
}
*/
header {
	border-bottom: solid 5px #4410cc;
	width: 100%;
	height: 700px;
}

header h1 {
	margin: 10% 20%;
}

.hilite {
	font-size: 1.25em;
	font-family: 'Archivo Black', sans-serif;
	color: #ccf900;
	-webkit-text-stroke-width: .5px;
   	-webkit-text-stroke-color: black;
	/*text-shadow: -1px -1px #555;*/
}

section#bio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	background-color: #9951ff;
	border-bottom: solid 5px #4410cc;
}

.selfie {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	/*background-color: #ccf900;*/
}

#bio h2 {
	padding: 10px;
	font-family: 'Jua', sans-serif;
	font-size: 1.5em;
	color: black;
}

#bio p {
	color: white;
	width: 100%;
	letter-spacing: 120%;
	line-height: 135%;
	padding-left: 20px;
	font-size: 1.1em;
	background-color: #9951ff;
	margin-bottom: 15%;
}

section#work {
	margin-top: 20px;
}

.quiz-app {
	display: flex;
	flex-direction: column;
}

.screen-shot{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image {
	border: solid 3px #9951ff;
	height: 180px;*/
}

.web-logos {
	margin-top: 10px;
}

.info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info ul {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-inline-start: 0px;
}

.info li {
	list-style-type: none;
	padding: 5px;
	margin: 5px;
	color: white;
	background-color: #9951ff;
	border: solid 1px #4410cc;
	
}

.links ul {
	display: flex;
	justify-content: center;
}

.links li {
	font-family: 'Jua', sans-serif;
	list-style-type: none;
	padding: 10px;
}

.links a:hover {
	font-size: 1.1em;
	color: #ccf900;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
}

footer {
	font-family: 'Jua', sans-serif;
	font-size: 1.3em;
	text-align: center;
	border: solid 5px #ccf900;
	margin: 0;
	padding-bottom: 30px;
	background-color: #caa9ff;
}

footer p {
	display: inline;
}

footer a:hover{
	/*font-size: 1.5em;*/
	color: #ccf900;
	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
}

.extra-space {
	height: 40px;
}

@media(min-width: 750px){

	body {
		font-size: 1.15em;
	}

	section#bio {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 20px;
	}

	.selfie {
		width: 200px;
		height: 200px;
		margin: 0 auto;
	}

	#bio h2 {
		font-size: 1.5em;
		padding: 20px;
	}

	#bio p {
		letter-spacing: 120%;
		line-height: 135%;
		font-size: 1.25em;
	}

	section#work {
		margin-top: 20px;
	}

	.info li {
		font-size: 1.25em;
}

}

@media(min-width: 1200px){
	body {
		font-size: 1.25em;
	}

	.selfie {
		width: 360px;
		height: 360px;
		margin: 0 auto;
		border: solid 1px #7730dd;
	}

	.about {
		margin-right: 200px;
	}

	.info ul {
	margin: 0 5%;
	}

	.info li {
		list-style-type: none;
		padding: 5px;
		margin: 5px 5%;
		color: white;
		background-color: #9951ff;
	}

	.image {
	height: 360px;*/
	}
}
